*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;

}


.container{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.3) url("background.png");
    background-blend-mode: overlay;
    background-repeat: no-repeat;   
    background-position: center center; 
    background-size: cover;
    position: relative;
}

.navbar{
    display: flex;
}

.navbar .logo img{
    width: 80px;
}

.navbar .logo h3{
    margin-left: -25px;
    color: #954720;;
}

.navbar .logo{
    position: absolute;
    top: 15px;
    left: 70px;
    cursor: pointer;
}


.navitem{
    display: flex;
    text-align: right;
    position: absolute;
    right: 50px;
    top: 20px;
}

.navitem ul{
    display: flex;
}

.navitem ul li{
    margin: 10px 20px;
    font-size: 20px;
    list-style: none;
}

.navitem .menu{
    cursor: pointer;
}

.navitem .menu img{
    width: 40px;
}

.navitem ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.navitem ul li a:hover{
    text-decoration: underline;
}

.row{
    width: 90vw;
    height: 80vh;
    /* border: 2px solid black; */
    margin: 100px auto;
    display: flex;
}
.col{
    flex-basis: 50%;
    /* border: 2px solid red; */
}
h1{
    display: block;
    width: 100%;
    margin-top: 27%;
    font-size: 77px;
    color: white;
    padding: 0px 0px 0px 14px;

}
.col1 p{
    display: block;
    color: white;
    font-size: 16px;
    padding: 0px 20px;
}

button{
    width: 200px;
    height: 50px;
    margin: 30px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 22px;
    background-color: white;
    box-shadow: 0px 0px 0px black;
    cursor: pointer;
    transition: all 0.2s;
    transform: translateY(0);
}

button:hover{
    box-shadow: 0px 0px 10px black;
    transform: translateY(-2px);
}


.col2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 37%;
    height: 45%;
    /* border: 2px solid green; */
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 30px;
    transform: translateY(0);
    transition: all 0.3s ease-out;
}

#card1{
    background: url('pic-1.png');
}
#card2{
    background: url('pic-2.png');
}
#card3{
    background: url('pic-3.png');
}
#card4{
    background: url('pic-4.png');
}


.card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px black;
}

.card h5{
    color: white;
    font-size: 22px;
    width: 90%;
    margin: 7px auto;
}

.card p{
    color: white;
    font-size: 15px;
    width: 90%;
    margin: 5px auto;
}